
.onlineFriends-friendsOnline {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.3;
  width: 70px;
  word-wrap: normal;
  white-space: nowrap;
  color: var(--text-muted);
  transition: color .1s ease-in-out;
  animation: fade-in .8s forwards;
}

.onlineFriends-friendsOnline:hover {
  color: var(--interactive-normal);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
