
.onlineFriends-counter {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  width: 62px;
  word-wrap: normal;
  color: var(--text-muted);
}

.onlineFriends-counter.clickable {
  cursor: pointer;
}

.onlineFriends-counter.clickable:active {
  color: var(--interactive-active);
}

.onlineFriends-counter.clickable:hover {
  color: var(--interactive-hover);
}

#onlineFriends-context-menu {
  z-index: 0;
}
