
.statistics-counter {
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  width: 62px;
  word-wrap: normal;
  color: var(--channels-default);
}

.statistics-counter.clickable {
  cursor: pointer;
}

.statistics-counter.clickable:active {
  color: var(--interactive-active);
}

.statistics-counter.clickable:hover {
  color: var(--interactive-hover);
}

#statistics-counter-context-menu {
  z-index: 0;
}
