.statistic-counter {
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  width: 70px;
  word-wrap: normal;
  color: var(--channels-default);
}

.statistic-counter .clickable {
  cursor: pointer;
}

.statistic-counter .clickable:active {
  color: var(--interactive-active);
}

.statistic-counter .clickable:hover {
  color: var(--interactive-hover);
}

.statistic-counter-list-item {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  position: relative;
  width: 72px;
}

.statistic-counter-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 2%);
}

.statistic-counter-preview .home-button {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--background-secondary);
  transition: border-radius 0.15s ease-out, background-color 0.15s ease-out, color 0.15s ease-out;
  margin: 8px 0;
}

.statistic-counter-preview .home-button:hover {
  border-radius: 35%;
  background-color: var(--brand-experiment);
}

.statistic-counter-preview .home-button:hover .home-icon {
  color: var(--white-500);
}

.statistic-counter-preview .home-icon {
  color: var(--text-normal);
}

.statistic-counter-settings-revert-icon {
  margin-left: 2px;
  display: inline-block;
  vertical-align: top;
  color: var(--text-brand);
  cursor: pointer;
}

.statistic-counter-settings-slider {
  width: 97%;
  margin: auto auto 15px;
}

.statistic-counter-settings-slider [class|='mark'] {
  white-space: nowrap;
}

.statistic-counter-items {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  align-items: center;
}

.statistic-counter-item-container.drop-indicator-before:before {
  left: -5px;
}

.statistic-counter-item-container.drop-indicator-after:after,
.statistic-counter-item-container.drop-indicator-before:before {
  background-color: var(--brand-experiment);
  border-radius: 2px;
  content: '';
  width: 2px;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
}

.statistic-counter-item-container.drop-indicator-after:after {
  right: -5px;
}

.statistic-counter-item-container {
  position: relative;
  cursor: grab;
}

.statistic-counter-item-pill {
  border-radius: 5px 20px 20px 5px;
  background-color: var(--background-secondary-alt);
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  height: 32px;
  overflow: hidden;
}

.statistic-counter-item-pill:hover {
  background-color: var(--background-modifier-hover);
  transition: background-color 0.15s ease-out;
}

.statistic-counter-item-pill:active {
  background-color: transparent;
  border: 2px dotted var(--background-modifier-selected);
  cursor: grabbing;
}

.statistic-counter-item-pill:active * {
  visibility: hidden;
}

.statistic-counter-item-pill .drag-icon {
  display: flex;
  margin-left: -15px;
  color: var(--interactive-normal);
  padding: 8px;
  cursor: grab;
}

.statistic-counter-item-pill:hover .drag-icon {
  color: var(--interactive-hover);
}

.statistic-counter-item-pill .drag-icon:active {
  cursor: grabbing;
}
