.statistic-counter {
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  width: 70px;
  word-wrap: normal;
  color: var(--channels-default);
}

.statistic-counter .clickable {
  cursor: pointer;
}

.statistic-counter .clickable:active {
  color: var(--interactive-active);
}

.statistic-counter .clickable:hover {
  color: var(--interactive-hover);
}

.statistic-counter-list-item {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  position: relative;
  width: 72px;
}

.revert-icon {
  margin-left: 2px;
  display: inline-block;
  vertical-align: top;
  color: var(--text-brand);
  cursor: pointer;
}

.statistic-counter-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 2%);
}

.statistic-counter-preview .home-button {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--background-secondary);
  transition: border-radius .15s ease-out, background-color .15s ease-out, color .15s ease-out;
  margin: 8px 0;
}

.statistic-counter-preview .home-button:hover {
  border-radius: 35%;
  background-color: var(--brand-experiment);
}

.statistic-counter-preview .home-button:hover .home-icon {
  color: var(--white-500);
}

.statistic-counter-preview .home-icon {
  color: var(--text-normal);
}

.statistic-counter-settings-slider {
  width: 97%;
  margin: auto;
  margin-bottom: 15px;
}

.statistic-counter-settings-slider [class|='mark'] {
  white-space: nowrap;
}
